<%- include('../../layout/mng/header.ejs', {
    url: "../../../"
}) %>

                    <!-- 컨텐츠 내용 -->
                    <div class="layoutContArea">
                        
                        <!-- h2 타이틀 -->
                        <div class="comH2Group">
                            <div class="alignL">
                                <h2>공지사항(일반형)</h2>
                            </div>
                            <div class="alignR">
                                <ul class="locaGroup">
                                    <li class="item">HOME</li>
                                    <li class="item">게시물관리</li>
                                    <li class="item">공지사항(일반형)</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="cptTable">
                            <table class="tbView">
                                <colgroup>
                                    <col style="width:110px;">
                                    <col style="width:auto;">
                                </colgroup>
                                <caption></caption>
                                <tbody>
                                    <tr>
                                        <th class="left">제목<span class="required">*</span></th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                글 등록 시 작성한 제목 노출
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">구분<span class="required">*</span></th>
                                        <td class="left">
                                            공지사항
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">상단고정<span class="required">*</span></th>
                                        <td class="left">
                                            예
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">작성자</th>
                                        <td class="left">
                                            관리자
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">노출 등록일<span class="required">*</span></th>
                                        <td class="left">
                                            2024-05-05
                                        </td>
                                    </tr>


                                    <tr>
                                        <th class="left">내용<span class="required">*</span></th>
                                        <td class="left">
                                            글 등록 시 작성한 내용 노출
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">첨부파일 1</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileAfter" style="display: block;">
                                                        <div class="textBox">첨부파일테스트.png</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="left">첨부파일 2</th>
                                        <td class="left">
                                            <div class="frmGroup">
                                                <div class="fileBox">
                                                    <div class="fileAfter" style="display: block;">
                                                        <div class="textBox">첨부파일테스트.확장자</div>
                                                    </div>
                                                </div>
                                                <button class="gridBtn gLine" onclick="openPopup('sample01')" style="margin-left: auto;">사진보기</button> <!-- 20250324 추가 -->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cptGroupBtnCov">
                            <div class="cptGroupBtm alignL">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn dkBlue">목록</button>
                                </div>
                            </div>
                            <div class="cptGroupBtm alignR">
                                <div class="comSideOpt">
                                    <button type="button" class="crudBtn red">삭제</button>
                                    <button type="button" class="crudBtn dkBlue">수정</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //컨텐츠 내용 -->

                    <div id="sample01" class="modPopup md on"> <!-- class - on : 팝업오픈 -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                                        <div class="popTitle">사진보기</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->

                                             <!-- 20250324 추가 -->
                                            <div class="comScaleView">
                                                <div class="scaleViewArea">
                                                    <img src="../../../common/images/mng/board_temp_img02.png" alt="착순판정 이미지 자료">
                                                </div>
                                            </div>
                                            <script>
                                                //이미지 확대기능
                                                function scaleView(){
                                                    document.addEventListener("DOMContentLoaded", function () {
                                                        const screen = document.querySelector(".comScaleView");
                                                        if(screen){
                                                            const scaleBox = screen.querySelector(".scaleViewArea");
                                                            let posX = 0;
                                                            let posY = 0;
                                                            screen.addEventListener("mousemove", function(e){
                                                                const scrW = e.target.offsetWidth;
                                                                const scrH = e.target.offsetHeight;
                                                                const posX = e.offsetX;
                                                                const posY = e.offsetY;
                                                                const perX = posX*100/scrW;
                                                                const perY = posY*100/scrH;;
                                                                //console.log([scrW,scrH,posX, posY]);
                                                                //console.log(e.target.style);
                                                                scaleBox.style.cssText = "transform-origin:" + perX + "% " + perY + "%;";
                                                            });
                                                        }
                                                    });
                                                }
                                                scaleView();
                                            </script>
                                            <!-- //20250324 추가 -->

                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                                        <!-- <div class="popBtm">
                                            <button class="btn gLine"  onclick="openPopup('sample06');">취소</button>
                                            <button class="btn dkBlue"  onclick="openPopup('sample06');">계정신청</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


<%- include('../../layout/mng/bottom.ejs', {
    url: "../../../"
}) %>