/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- 테마 iwms ---------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/* ---------------------------- 테이블 :: iwms ---------------------------- */
.cptTable .required {color: var(--basic-red);}

/* ---------------------------- 그리드 :: iwms ---------------------------- */
.iwms .cptGrid {overflow: auto; position: relative;}
.iwms .cptGrid:last-child {margin-bottom: 0;}
.iwms .cptGrid .gridTb {border-collapse: separate;}
.iwms .cptGrid .gridTb th {border-radius: 0 !important;}
.iwms .cptGrid .gridTb th {border-left: 1px solid #666;}
.iwms .cptGrid .gridTb th:first-child {border-left: 0; padding: 5px;}
.iwms .cptGrid .gridTb th:last-child {padding: 5px;}
.iwms .cptGrid .gridTb td {border-radius: 0 !important;}
.iwms .cptGrid .gridTb tbody td {border-left: 1px solid #ddd;}
.iwms .cptGrid .gridTb tfoot td {border-left: 1px solid #fff;}
.iwms .cptGrid .gridTb td:first-child {border-left: 0; padding: 5px;}
.iwms .cptGrid .gridTb td:last-child {padding: 5px;}
.iwms .cptGrid .gridTb thead {position: sticky; left: 0; top: 0; z-index: 2;}
.iwms .cptGrid .gridTb thead tr:nth-child(n + 2) th {border-top: 1px solid #666;}
.iwms .cptGrid .gridTb tbody td:first-child::after {display: none;}
.iwms .cptGrid .gridTb tbody td:last-child::after {display: none;}
.iwms .cptGrid::-webkit-scrollbar {width:6px; height:6px; border-radius: 3px; background: rgba(0, 0, 0, 0.20);}
.iwms .cptGrid::-webkit-scrollbar-thumb {width:6px; height:6px; border-radius: 3px; background: rgba(0, 0, 0, 0.20);}

/* 그리드 추가조작 */
.iwms .cptGrid .gridTb tr th.line {border-left: 1px solid #666;}
.iwms .cptGrid .gridTb tr td.line {border-left: 1px solid #ddd;}